<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



<div class="about-section">
<h1>About Us</h1>
<p>ANDHRA PRADESH ROAD TRANSPORT CORPORATION </p>
<h6>(24/7 Customer Support)</h6>
<p> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQY-sLZpHHIRIkrETVmmIsIRA1ApOqVNje8w&usqp=CAU" width=20px; height="20px;">&nbsp;0866 2570005&nbsp;&nbsp;<img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" width=20px;> customercare@apsrtconline.in</p>
<p></p>
</div>



<!-- <h2 style="text-align:center">Application Developed By</h2>
<div class="row">
<div class="column">
<div class="card">

<div class="container">
<h2>Naveen Reddy</h2>
<p class="title">Backennd Developer</p>

<p><img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" width=20px;> naveen@gmail.com</p>
<p><button class="button">Contact</button></p>

</div>
</div>
</div> -->




<!-- </div> -->



</body>
</html>