<!-- <footer class="footer">
    <nav class="navbar-nav ml-auto">
        <div class="color">
    <div class="container" id="footer">
        <span class="text-muted">Copyright ©2021 APSRTC. All Rights Reserved</span>
    </div>
    </div>
</nav>
  
  </footer> -->

  <!-- <html>
    <head>
    <style>
    footer {
      text-align: center;
      padding: 0px;
      background-color:darkslategray;
      color:honeydew;
    }
    </style>
    </head>
    <body>
    
   <footer>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
 
                 <p>Copyright ©2021 APSRTC. All Rights Reserved</p> 
      </nav>
    </footer> 
</body>
</html> -->




<html>
<head>
<style>
footer {
  text-align: center;
  padding: 0px;
  background-color:darkslategray;
  color:honeydew;
}
</style>
</head>
<body>
<footer>
  <p>Copyright ©2021 APSRTC. All Rights Reserved
  </p>
</footer>
</body>
</html>